---
layout: default
title: Accueil
---
  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">
            <h6 class="text-secondary">Selectionnez une catégorie</h6>
          </div>
          
          {% include category-card.html page_name="/camp/" %}

          {% include category-card.html page_name="/admin/" %}

          {% include more-help.html %}
        </div>
      </div>
    </div>