---
layout: default
title: Sitemap
description: A list of all the pages on the site
icon: uil-sitemap
rank: 0
---

{% include header.html %}

<div class="container-full">
    <div class="container">
        <div class="text-center">
            <h4 class="text-center">Faire une recherche</h4>
        </div>
        <div class="text-center">
            <input type="text" id="search" placeholder="Recherchez ici..." />
        </div>
    </div>
</div>
    
{% assign sorted_pages = site.pages | sort: 'rank' %}

<div class="container-full">
    <div class="container">
        <div class=" text-center">
            <h4 class="text-center">Selectionnez une catégorie</h4>
        </div>
        <div class="text-center">
            {% for page in sorted_pages %}
            {% if page.title != null %}
                <a href="{{ page.url | relative_url }}" class="category-link" data-content="{{ page.content | strip_html | escape }}">
                    <h3 class="category-link-title">{{ page.title }}</h3>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const searchInput = document.getElementById("search");
      const categoryLinks = document.querySelectorAll(".category-link");
  
      searchInput.addEventListener("input", function () {
        const searchQuery = searchInput.value.trim().toLowerCase();
  
        categoryLinks.forEach(function (link) {
          const title = link.querySelector(".category-link-title").textContent.toLowerCase();
          const content = link.getAttribute("data-content").toLowerCase();
  
          const titleMatch = title.includes(searchQuery);
          const contentMatch = content.includes(searchQuery);
  
          if (titleMatch || contentMatch) {
            link.style.display = "block";
          } else {
            link.style.display = "none";
          }
        });
      });
    });
  </script>
  