---
layout: category
title: Gazettes
description: Archives des gazettes CSSB
icon: uil-newspaper
rank: 5
---

{% assign sorted = site.static_files | sort: 'name' %}
{% for file in sorted %}
  {% if file.extname == '.pdf' and file.path contains 'gazettes' %}

      <div class="column col-12 card my-1 flex-row space-evenly padding-10" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
        <div class="text-semibold width-50 text-large">
            {{ file.name | replace, '.pdf', '' }}
        </div>
        <a href="{{ file.path }}" class="width-10">
            <i class="uil uil-download-alt"></i>
            Télécharger
        </a>
        <a href="{{ page.dir }}affichage?file={{ file.name }}" target="_blank" class="width-10">
            <i class="uil uil-search"></i>
            Visualiser
        </a>
      </div>



  {% endif %}
{% endfor %}