<!-- Page is the actual page -->
<!-- P is the page to test -->

{% for p in site.pages %}

  {% if page != p %}
    {% assign checkArray = p.dir | split:page.dir %}
    
    {% if page.dir == p.dir %} <!-- If ever it's a page that is in the same directory and isn't the actual page -->
      {% include page-card.html page=p %}
    
    {% elsif checkArray[0] == blank %} <!-- If ever it's a page that is in a subdirectory and isn't the actual page -->
    
      {% assign category_page = site.pages | where: "url", p.dir | first %}
      {% if category_page.title == p.title %} <!-- If ever it's a category page-->
        {% include category-card.html page_name=p.dir%}
      {% endif %}

    {% endif %}

  {% endif %}
{% endfor %}