// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:hover,
  &:active,
  &.active {
    color: $link-color-dark;
    text-decoration: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.width-15 {
  width: 15%;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.padding-10 {
  padding: 10px;
}