---
layout: default
---

{% include header.html %}

<div class="container-full">
    <div class="container grid-xl">
      <div class="mt-12 show-md"></div>
      <div class="mt-8"></div>
      <div class="columns negative-m-xl">
        <div class="column col-12">
          <ul class="breadcrumb">
            {% include top-index.html %}
          </ul>
          <h1 class="text-light text-bold">{{ page.title }}</h1>
        </div>
        <div class="column col-12">
          <div class="card">
            <div class="card-body text-justify">
                {% if site.use_authors == true %}
                {% assign post_author = site.data.authors[page.author] %}
                <div class="flex-vertical-center mb-4">
                  <figure class="avatar d-inline-block" style="align-items: center;">
                    <img  src="{{site.url }}{{ site.baseurl }}/assets/logo-cssb.webp" alt="CSSB Icon">
                  </figure>
                  <div class="ml-2">
                    <p class="text-dark text-small mb-0"><span class="text-primary">
                      Section de Développement et de Soutien Informatique (SDSI)</span></p>
                    <p class="text-dark text-small text-italic mb-0">Mise-à-jour le {{ page.last_modified_at | date: '%d %B %Y'  }}, {% include reading-time.html %}</p>
                  </div>
                </div>
                {% else %}
                <div class="ml-2">
                  <p class="m-0 text-small">Last updated:</p>
                  <p class="text-dark text-small text-italic mb-0">{{ page.last_modified_at | date: '%B %d, %Y'  }} - {% include reading-time.html %}</p>
                </div>
                {% endif %}

              <hr>

              {{ content }}

            </div>
          </div>
        </div>
        {% include more-help.html %}
      </div>
    </div>
  </div>